body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.navigation-bar {
    margin: 20px 0;
}
.navigation-bar > ul {
    display: flex;
    align-items: center;
    height: 3rem;
}
.navigation-bar > ul > li {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.navigation-bar > ul > li.logo-image > a > img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}