<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- spring security csrf setting -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Promotion Test</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- 구현 파트 시작 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 구현 파트 끝 -->
</body>
</html>